.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px  ;
    justify-content: center;
    gap: 3px;
}
.grid-container div{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: pink;
    border: 1px solid black;

}
.item1{
    grid-area: 1/1/3/2;
}
.item5{
    grid-area: 2/2/3/4;
}
.item8{
    grid-area: 3/2/4/4;
}