*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav{
    background-color: purple;
    background-image: url(images.jpg);
    background-repeat: no-repeat;
}



.logo{
    font-size: 90px;
    margin-left: 30px;



}
 .logo b a{
    color: black;
}
nav ul{
    float: right;
    margin-top: 20px;
}
nav ul li{
    display:inline-block ;
    margin-right: 30px;
    font-size: 20px;
}
nav ul li a{
    color: black;
    padding: 8px;


}
nav ul li a:hover{
    padding: 8px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    
    
}