body{
    background-image: url(download.jpg);
    background-repeat: repeat-x; 
    background-size: 300px;
}

h1,h3{
    border-bottom:5px solid red ;
    border-radius: 15px;
    

}
    
table,th,td{
    border: 1px solid red;
    border-collapse: collapse;
}

.heading{
    margin-left:450px ;
    width: 400px;
}
.heading{
 color: blue;    
}
.heading2{
    color:aqua;
    
}
.heading3{
    color:brown;
    
}
.heading4{
color:pink;

}
